/*-------------------------------------
    color
--------------------------------------*/
/*-------------------------------------
    function
--------------------------------------*/
/*-------------------------------------
    general
--------------------------------------*/
body {
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 1px;
}

/*-------------------------------------
    container
--------------------------------------*/
.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 60px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*-------------------------------------
    header
--------------------------------------*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
}
.header-logo img {
  height: 30px;
}
.header .container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .navi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate(0, -100%);
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  .header .navi {
    display: block;
    position: static;
    height: auto;
    transform: translate(0, 0);
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .header .navi-list {
    display: flex;
  }
}
.header .navi.is_active {
  top: 60px;
  transform: translate(0, 0);
  opacity: 1;
}
.header .navi-item-link {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  padding: 0 20px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.header .navi-item-link:hover {
  opacity: 0.3;
}
.header .navi-item-link.-contact {
  background-color: #000;
  color: #fff;
}
.header .hamburger {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: -10px;
}
@media screen and (min-width: 1024px) {
  .header .hamburger {
    display: none;
  }
}
.header .hamburger span {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #000;
  margin: 3px 0;
}

/*-------------------------------------

--------------------------------------*/
/*-------------------------------------

--------------------------------------*/
/*-------------------------------------

--------------------------------------*/
/*-------------------------------------

--------------------------------------*/
/*-------------------------------------

--------------------------------------*/
/*-------------------------------------

--------------------------------------*/
/*-------------------------------------

--------------------------------------*/
/*-------------------------------------

--------------------------------------*/
/*-------------------------------------

--------------------------------------*//*# sourceMappingURL=style.css.map */