/*-------------------------------------
    color
--------------------------------------*/

$main: #dcd0c0;
$sub: #f4f4f4;
$primary: #c0b283;
$thema: #373737;
$white: #fff;
$black: #000;

/*-------------------------------------
    function
--------------------------------------*/
$baseFontSize: 16;
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}

$breakpoints: (
  'sm': 'screen and (min-width: 640px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/*-------------------------------------
    general
--------------------------------------*/
body {
  font-family: 'Noto Sans JP', sans-serif;
}

p,
a {
  font-size: rem(16);
  line-height: 1.7;
  letter-spacing: 1px;
}
.sp-show {
  @include mq(md) {
    display: none;
  }
}
/*-------------------------------------
    container
--------------------------------------*/
.container {
  margin: 0 auto;
  @include mq(sm) {
    max-width: 640px;
  }
  @include mq(md) {
    max-width: 768px;
  }
  @include mq(lg) {
    max-width: 1024px;
  }
  @include mq(xl) {
    max-width: 1280px;
  }
}
.single .container {
  margin: 0 auto;
  @include mq(sm) {
    max-width: 640px;
  }
  @include mq(md) {
    max-width: 768px;
    padding: 0 40px;
  }
}

/*-------------------------------------
    header
--------------------------------------*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: $white;
  background-color: $thema;
  &-logo {
    a {
      color: $white;
      font-size: rem(20);
      text-decoration: none;
    }
  }
  .container {
    @include mq(md) {
      padding: 0 40px;
    }
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .navi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    padding-top: 60px;
    pointer-events: none;
    @include mq(lg) {
      padding: 0;
      display: block;
      position: static;
      height: auto;
      transform: translate(0, 0);
      opacity: 1;
      pointer-events: all;
    }
    &-list {
      position: relative;
      z-index: 1000;
      @include mq(lg) {
        display: flex;
      }
    }
    &.is_active {
      transform: translate(0, 0);
      opacity: 1;
      pointer-events: all;
    }
    &-overlay {
      display: block;
      z-index: 900;
      width: 100vw;
      height: 130vh;
      background-color: $black;
      opacity: 0.5;
      top: 0;
      left: 0;
      position: fixed;
      @include mq(lg) {
        position: static;
        display: none;
      }
    }
    &-item {
      &-link {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 20px;
        opacity: 1;
        color: $white;
        transition: all 0.2s ease-in-out;
        &:hover {
          opacity: 0.3;
        }
      }
    }
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: -10px;
    position: relative;
    z-index: 1000;
    @include mq(lg) {
      display: none;
    }
    span {
      display: inline-block;
      width: 20px;
      height: 1px;
      background-color: $white;
      margin: 3px 0;
    }
  }
}

/*-------------------------------------
    section
--------------------------------------*/
.section {
  &-title {
    font-size: rem(40);
    font-weight: bold;
  }
  &-text {
    font-size: rem(20);
    font-weight: bold;
    margin-top: 20px;
  }
  &-anc {
    margin-top: 60px;
    text-align: right;
    a {
      font-size: rem(16);
      text-decoration: none;
      background-color: $thema;
      color: $white;
      display: inline-block;
      padding: 10px 60px 10px 20px;
      border-radius: 40px/40px;
      position: relative;
      z-index: 52;
      border: 1px solid $white;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        -webkit-filter: brightness(1.9);
        filter: brightness(1.9);
      }
      &::before {
        position: absolute;
        transform: translate(0, -50%);
        content: '';
        display: block;
        top: 50%;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: $white;
        border-radius: 50%/50%;
      }
      &::after {
        position: absolute;
        transform: translate(0, -50%) rotate(-45deg);
        content: '';
        display: block;
        top: 50%;
        right: 22px;
        width: 8px;
        height: 8px;
        border-right: 2px solid $thema;
        border-bottom: 2px solid $thema;
      }
    }
  }
}

/*-------------------------------------
    visual
--------------------------------------*/
.visual {
  height: 100vh;
  background: url('/img/hero.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($black, 0.3);
  }

  &-catch {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
    z-index: 100;
  }
  &-title {
    font-size: rem(30);
    @include mq(md) {
      font-size: rem(60);
    }
    font-weight: bold;
    color: $white;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  &-sub {
    font-size: rem(20);
    font-weight: bold;
    color: $white;
    margin-bottom: 60px;
  }
}
/*-------------------------------------
    About
--------------------------------------*/
.about {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: url('/img/about-01.jpg');
    background-position: center;
    background-size: cover;

    width: 100vw;
    height: 180px;
    @include mq(md) {
      width: 40vw;
      height: 100%;
    }
    z-index: -1;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
  }
  .container {
    @include mq(md) {
      display: flex;
      padding: 60px 40px;
    }

    padding: 60px 20px;
    &-left {
      @include mq(md) {
        width: 40%;
      }
      color: #fff;
    }
    &-right {
      @include mq(md) {
        width: 60%;
      }
    }
  }
  &-item {
    margin-top: 60px;
    @include mq(md) {
      padding-left: 40px;
      margin-top: 0;
    }
  }
  &-sub {
    font-size: rem(30);
    font-weight: bold;
  }
  &-text {
    margin-top: 14px;
    &:nth-of-type(1) {
      margin-top: 40px;
    }
  }
  &-sub {
    span {
      position: relative;
      padding-left: 20px;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: $black;
        width: 5px;
        height: 100%;
      }
    }
  }
}
/*-------------------------------------
    service
--------------------------------------*/
.service {
  background-color: $white;
  position: relative;
  z-index: 100;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: $primary;
    width: 20vw;
    height: 100%;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $thema;
    width: 80vw;
    height: 100%;
    z-index: -1;
  }
  .container {
    @include mq(md) {
      display: flex;
      padding: 60px 40px;
    }
    padding: 60px 20px;
    position: relative;
    &-left {
      width: 40%;
      @include mq(md) {
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        left: 0;
        height: 100%;
      }

      color: $white;
    }
    &-right {
      @include mq(md) {
        width: 60%;
        overflow: hidden;
      }

      color: $white;
    }
  }
  &-sub {
    span {
      position: relative;
      padding-left: 20px;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: $white;
        width: 5px;
        height: 100%;
      }
    }
  }
  &-item {
    @include mq(md) {
      padding-left: 40px;
      padding: 40px 0 40px 40px;
    }

    color: $white;
    &:first-child {
      margin-top: 60px;
      @include mq(md) {
        padding: 0 0 40px 40px;
        margin-top: 0;
      }
    }
    &:not(:first-child) {
      margin-top: 60px;
    }
  }
  &-sub {
    font-size: rem(30);
    font-weight: bold;
  }
  &-img {
    width: 100%;
    margin-top: 40px;
    &.-img01 {
      background: url('/img/service-01.jpg');
      background-position: center;
      background-size: cover;
      padding-top: calc(56.25% / 1.2);
    }
    &.-img02 {
      background: url('/img/service-02.jpg');
      background-position: center;
      background-size: cover;
      padding-top: calc(56.25% / 1.2);
    }
    &.-img03 {
      background: url('/img/service-03.jpg');
      background-position: center;
      background-size: cover;
      padding-top: calc(56.25% / 1.2);
    }
  }
  &-text {
    margin-top: 14px;
    &:nth-of-type(1) {
      margin-top: 40px;
    }
  }
}
/*-------------------------------------
    Price
--------------------------------------*/
.price {
  background-color: $main;
  @include mq(lg) {
    background-position: center;
    background: url('/img/price-01.jpg');
    background-size: cover;
    background-color: none;
  }
  color: $white;
  .container {
    @include mq(md) {
      padding: 60px 40px;
    }

    padding: 60px 20px;
    &-top {
      text-align: center;
    }
    &-bottom {
      margin-top: 100px;
      @include mq(lg) {
        display: flex;
      }
      justify-content: space-between;
      width: 100%;
    }
  }

  &-item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @include mq(lg) {
      width: calc(30% - 40px);
    }
    text-decoration: none;
    padding: 20px;
    position: relative;
    z-index: 100;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      -webkit-filter: brightness(1.1);
      filter: brightness(1.1);
    }
    &:nth-of-type(1) .price-sub span {
      position: relative;
      padding-left: 20px;
      color: $black;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: $black;
        width: 5px;
        height: 100%;
      }
    }
    &:nth-of-type(2) .price-sub span {
      position: relative;
      padding-left: 20px;
      color: $thema;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: $thema;
        width: 5px;
        height: 100%;
      }
    }
    &:nth-of-type(3) .price-sub span {
      position: relative;
      padding-left: 20px;
      color: $white;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: $white;
        width: 5px;
        height: 100%;
      }
    }
    &:nth-of-type(1) {
      background-color: $sub;
      p {
        color: $black;
      }
    }
    &:nth-of-type(2) {
      background-color: $primary;
      p {
        color: $thema;
      }
    }
    &:nth-of-type(3) {
      background-color: $thema;
    }
  }
  &-img {
    width: 100%;
    margin-top: 20px;
    &.-img01 {
      background: url('/img/price-02.jpg');
      background-position: center;
      background-size: cover;
      @include mq(lg) {
        padding-top: 56.25%;
      }
      padding-top: calc(56.25% / 1.2);
    }
    &.-img02 {
      background: url('/img/price-03.jpg');
      background-position: center;
      background-size: cover;
      @include mq(lg) {
        padding-top: 56.25%;
      }
      padding-top: calc(56.25% / 1.2);
    }
    &.-img03 {
      background: url('/img/price-04.jpg');
      background-position: center;
      background-size: cover;
      @include mq(lg) {
        padding-top: 56.25%;
      }
      padding-top: calc(56.25% / 1.2);
    }
  }
  &-sub {
    font-size: rem(22);
    font-weight: bold;
  }
  &-text {
    margin-top: 20px;
  }
  .section-title {
    color: $thema;
    @include mq(lg) {
      color: $white;
    }
  }
  .section-text {
    color: $thema;
    @include mq(lg) {
      color: $white;
    }
  }
}
/*-------------------------------------
    blog
--------------------------------------*/
.blog {
  background-color: $main;
  position: relative;
  z-index: 51;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-color: $primary;
    width: 20vw;
    height: 100%;
    z-index: 50;
  }
  .container {
    position: relative;
    z-index: 53;
    @include mq(md) {
      padding: 60px 40px;
    }
    padding: 60px 20px;
    &-middle {
      margin-top: 100px;
    }
  }
  &-card {
    width: 100%;
    display: block;
    text-decoration: none;
    background-color: $sub;
    position: relative;
    z-index: 52;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  &-img {
    background-color: $primary;
    width: 50px;
    height: 50px;
    margin-right: 40px;
  }
  &-item {
    display: flex;
    align-items: center;
  }
  &-sub {
    color: $thema;
  }
}
/*-------------------------------------
    contact
--------------------------------------*/
.contact {
  .container {
    @include mq(md) {
      padding: 60px 40px;
    }
    padding: 60px 20px;
    &-top {
      text-align: center;
    }
    &-middle {
      margin-top: 100px;
      text-align: center;
    }
    &-bottom {
      margin-top: 60px;
      text-align: center;
    }
  }
  &-sub {
    font-weight: bold;
    font-size: rem(30);
  }
  &-text {
    margin-top: 20px;
  }
  &-button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 60px;
    font-weight: bold;
    font-size: rem(16);
    color: $white;
    background-color: $thema;
    border-radius: 60px/60px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      -webkit-filter: brightness(1.9);
      filter: brightness(1.9);
    }
  }
}

/*-------------------------------------
    footer
--------------------------------------*/
.footer {
  text-align: center;
  background-color: $thema;
  color: $white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-------------------------------------
    sigle
--------------------------------------*/
.single {
  margin-top: 60px;
  &-key {
    height: 200px;
    width: 100%;
    background: url('/img/hero.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.3);
    }
  }
  .section-title {
    color: $white;
    position: relative;
    z-index: 50;
  }
  &-sub {
    font-size: rem(30);
    font-weight: bold;
  }
  &-text {
    margin-top: 14px;
    &:nth-of-type(1) {
      margin-top: 40px;
    }
  }
  .container {
    @include mq(md) {
      padding: 60px 40px;
    }
    padding: 60px 20px;
  }
  &-sub {
    span {
      position: relative;
      padding-left: 20px;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: $black;
        width: 5px;
        height: 100%;
      }
    }
  }
  &-table-row {
    margin: 60px 0;
    table {
      width: 100%;
      height: 100%;
    }
    tr {
      border-bottom: 1px solid $thema;
    }
    .single-header {
      text-align: left;
      font-weight: normal;
      width: 30%;
      padding: 30px 0 30px 20px;
    }
    .single-data {
      vertical-align: middle;
    }
  }
  &-table-col {
    width: 100%;
    margin: 60px 0;
    font-size: rem(12);
    @include mq(md) {
      overflow-x: visible;
    }
    white-space: nowrap;
    overflow-x: scroll;
    table {
      width: 100%;
      height: 100%;
    }
    tr {
      border-bottom: 1px solid #cecece;
    }
    thead {
      @include mq(md) {
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        left: 0;
      }
      th:first-child {
        text-align: left;
        background-color: $white;
        border-top: 1px solid #cecece;
        border-left: 1px solid #cecece;
        box-sizing: border-box;
      }
      th:not(:first-child) {
        background-color: $primary;
        color: $white;
      }
      th {
        padding: 30px 20px;
      }
    }
    .single-header {
      text-align: left;
      font-weight: normal;
      width: 160px;
      padding: 30px 20px;
      background-color: $thema;
      color: $white;
    }
    .single-data {
      vertical-align: middle;
      text-align: center;
      label {
        width: 100%;
        display: inline-block;
        &:not(:first-child) {
          margin-top: 20px;
          @include mq(md) {
            margin-left: 40px;
            margin-top: 0;
          }
        }
        input {
          margin-top: -2px;
          display: inline-block;
        }
      }
    }
    form {
      .single-data {
        display: block;
        padding: 16px 0;
        text-align: left;
        @include mq(md) {
          display: table-cell;
          text-align: left;
          padding: 0 0 0 40px;
        }
        label {
          @include mq(md) {
            width: auto;
          }
        }
        input[type='text'],
        [type='email'] {
          width: 96%;
          @include mq(md) {
            width: 90%;
          }
        }
        textarea {
          width: 96%;
          @include mq(md) {
            width: 90%;
            margin: 30px 0;
          }
          height: 200px;
        }
      }
      .single-header {
        display: block;
        width: auto;
        padding: 16px 20px;
        @include mq(md) {
          display: table-cell;
          width: 220px;
          vertical-align: middle;
        }
        &.attention {
          position: relative;
          &::before {
            content: '必須';
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%);
            color: $white;
            background-color: red;
            padding: 2px 6px;
          }
        }
      }
      .single-table-tfoot {
        text-align: center;
        tr {
          border: none;
          button {
            padding: 16px 100px;
            margin-top: 60px;
            color: $white;
            background-color: $thema;
            border-radius: 30px/30px;
          }
        }
      }
    }
  }

  &-img {
    width: 100%;
    margin-top: 40px;
    &.-img01 {
      background: url('/img/service-01.jpg');
      background-position: center;
      background-size: cover;
      padding-top: calc(56.25% / 1.5);
    }
    &.-img02 {
      background: url('/img/service-02.jpg');
      background-position: center;
      background-size: cover;
      padding-top: calc(56.25% / 1.5);
    }
    &.-img03 {
      background: url('/img/service-03.jpg');
      background-position: center;
      background-size: cover;
      padding-top: calc(56.25% / 1.5);
    }
  }
  &-item {
    margin-top: 100px;
    &:first-child {
      margin-top: 0;
    }
  }
  &-contact {
    margin: 100px 0;
    text-align: center;
    &-sub {
      font-weight: bold;
      font-size: rem(30);
    }
    &-text {
      margin-top: 20px;
    }
    &-button {
      margin-top: 60px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      padding: 20px 60px;
      font-weight: bold;
      font-size: rem(16);
      color: $white;
      background-color: $thema;
      border-radius: 60px/60px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        -webkit-filter: brightness(1.9);
        filter: brightness(1.9);
      }
    }
  }
}
.thanks .container {
  height: 40vh;
}
