/*-------------------------------------
    color
--------------------------------------*/

$main: #0040ff;
$sub: #99b3ff;
$primary: #ccd9ff;
$white: #fff;
$black: #000;

/*-------------------------------------
    function
--------------------------------------*/
$baseFontSize: 16;
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}

$breakpoints: (
  'sm': 'screen and (min-width: 640px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/*-------------------------------------
    general
--------------------------------------*/
body {
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-size: rem(16);
  line-height: 1.6;
  letter-spacing: 1px;
}
/*-------------------------------------
    container
--------------------------------------*/
.container {
  padding: 0 20px;
  margin: 0 auto;
  @include mq(sm) {
    max-width: 640px;
  }
  @include mq(md) {
    max-width: 768px;
    padding: 0 40px;
  }
  @include mq(lg) {
    max-width: 1024px;
    padding: 0 60px;
  }
  @include mq(xl) {
    max-width: 1280px;
  }
}
/*-------------------------------------
    header
--------------------------------------*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $white;
  &-logo {
    img {
      height: 30px;
    }
  }
  .container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .navi {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    @include mq(lg) {
      display: block;
      position: static;
      height: auto;
      transform: translate(0, 0);
      opacity: 1;
    }
    &-list {
      background-color: $white;
      position: relative;
      z-index: 1000;
      @include mq(lg) {
        display: flex;
      }
    }
    &.is_active {
      transform: translate(0, 0);
      opacity: 1;
    }
    &-overlay {
      display: block;
      z-index: 900;
      width: 100vw;
      height: 100vh;
      background-color: #999999;
      top: 0;
      left: 0;
      position: fixed;
      @include mq(lg) {
        position: static;
        display: none;
      }
    }
    &-item {
      &-link {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $black;
        padding: 0 20px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
        &:hover {
          opacity: 0.3;
        }
        &.-contact {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: -10px;
    position: relative;
    z-index: 1000;
    @include mq(lg) {
      display: none;
    }
    span {
      display: inline-block;
      width: 20px;
      height: 1px;
      background-color: $black;
      margin: 3px 0;
    }
  }
}
/*-------------------------------------
    
--------------------------------------*/
/*-------------------------------------
    
--------------------------------------*/
/*-------------------------------------
    
--------------------------------------*/
/*-------------------------------------
    
--------------------------------------*/
/*-------------------------------------
    
--------------------------------------*/
/*-------------------------------------
    
--------------------------------------*/
/*-------------------------------------
    
--------------------------------------*/
/*-------------------------------------
    
--------------------------------------*/
/*-------------------------------------
    
--------------------------------------*/
